* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
     
}

body{
    overflow-x:hidden;
}



.hidden {
    opacity: 0;
}

.show {
    opacity: 1;

}


.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    transition: all 2s;
}

.section_fliperama :nth-child(2) {
    transition-delay: 400ms;
}

.section_fliperama :nth-child(3) {
    transition-delay: 700ms;
}

.section_fliperama :nth-child(4) {
    transition-delay: 1000ms;
}











header {
    position: fixed;
    z-index: 1;
}

.banner {
    position: relative;
    width: 100vw;
    height: 45px;
    background: linear-gradient(rgb(104, 4, 185), rgb(15, 146, 140));

}

.banner_logo_menu {
    display: flex;
    justify-content: space-around;
}

h1 a {
    text-decoration: none;
    animation-name: logo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.banner_logo_menu h1 {
    display: inherit;
    align-items: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

@keyframes logo {
    0% {
        color: rgb(11, 218, 255);
    }

    25% {
        color: rgb(253, 0, 241);
    }

    50% {
        color: rgb(148, 241, 7);
    }

    65% {
        color: rgb(226, 27, 27);
    }

    75% {
        color: rgb(243, 239, 10);
    }

    90% {
        color: rgb(243, 181, 10);
    }

    100% {
        color: rgb(11, 218, 255);
    }
}

.banner_nav {
    color: white;
    height: 50px;
}

.banner_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    gap: 30px;
}

.banner_ul li {
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    cursor: pointer;


}


li a {
    text-decoration: none;
    animation-name: anyli;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes anyli {
    0% {
        color: rgb(11, 218, 255);
    }

    25% {
        color: rgb(253, 0, 241);
    }

    50% {
        color: rgb(148, 241, 7);
    }

    65% {
        color: rgb(226, 27, 27);
    }

    75% {
        color: rgb(243, 239, 10);
    }

    90% {
        color: rgb(243, 181, 10);
    }

    100% {
        color: rgb(11, 218, 255);
    }
}



.menu_nav {
    width: 100vw;
    height: 25px;
    background-color: black;
}

.menu {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}


.menu li {
    list-style: none;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    animation-name: onlyli;
    animation-duration: 5s;
    animation-iteration-count: infinite;


}

.menu li:hover {
    border-bottom: 4px solid rgb(253, 0, 241);
    color: white;
}



@keyframes onlyli {
    0% {
        color: rgb(11, 218, 255);
    }

    25% {
        color: rgb(253, 0, 241);
    }

    50% {
        color: rgb(148, 241, 7);
    }

    65% {
        color: rgb(226, 27, 27);
    }

    75% {
        color: rgb(243, 239, 10);
    }

    90% {
        color: rgb(130, 10, 243);
    }

    100% {
        color: rgb(11, 218, 255);
    }
}












.container {
    width: 100vw;
    height: 570px;
    background-image: url('https://roadtovrlive-5ea0.kxcdn.com/wp-content/uploads/2016/08/new-retro-arcade-neon-launch-8.jpg');
    background-position: center;
    background-size: cover;
}

.container_children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 570px;
    background: rgba(0, 0, 0, 0.4);
}






.title_second {
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    animation-name: onlyh1;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}


.container_children p {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    line-height: 20px;
}


@keyframes onlyh1 {
    0% {
        color: rgb(11, 218, 255);
    }

    25% {
        color: rgb(253, 0, 241);
    }

    50% {
        color: rgb(148, 241, 7);
    }

    65% {
        color: rgb(226, 27, 27);
    }

    75% {
        color: rgb(243, 239, 10);
    }

    90% {
        color: rgb(130, 10, 243);
    }

    100% {
        color: rgb(11, 218, 255);
    }
}










.container_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30px;
    gap: 20px;
    animation: container_section_animation 16s linear infinite;
}

.carousel-area {
    background-color: black;
    animation: border 16s linear infinite;
}

.container_section h2 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    animation-name: onlyh2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes container_section_animation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100vw);
    }
}





.slider {
    display: flex;
    gap: 20px;
}


.banner_slides {
    width: calc(100vw * 6);
    height: 100%;

}

.banner_slides {
    margin-left: 0;
    transition: 14s;
    z-index: 1;
}

.banner_slides {
    margin-left: 0;
    transition: 14s;
}

.banner_slides {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    overflow: hidden;
}

.slider_master {
    display: inline-block;
    width: 100vw;
}






.container_section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: black;
    animation-name: border;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.container_section2 h2 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    animation-name: onlyh2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}


.slider2 {
    display: flex;
    gap: 20px;
}


.banner_slides2 {
    width: calc(100vw * 6);
    height: 100%;

}

.banner_slides2 {
    margin-left: 0;
    transition: 14s;
    z-index: 1;
}

.banner_slides2 {
    margin-left: 0;
    transition: 14s;
}

.banner_slides2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    overflow: hidden;
}








@keyframes onlyh2 {
    0% {
        color: rgb(11, 218, 255);
    }

    25% {
        color: rgb(253, 0, 241);
    }

    50% {
        color: rgb(148, 241, 7);
    }

    65% {
        color: rgb(226, 27, 27);
    }

    75% {
        color: rgb(243, 239, 10);
    }

    90% {
        color: rgb(130, 10, 243);
    }

    100% {
        color: rgb(11, 218, 255);
    }
}

@keyframes border {
    0% {
        border-top: 4px solid rgb(11, 218, 255);
        border-bottom: 4px solid rgb(11, 218, 255);
    }

    25% {
        border-top: 4px solid rgb(253, 0, 241);
        border-bottom: 4px solid rgb(253, 0, 241);
    }

    50% {
        border-top: 4px solid rgb(148, 241, 7);
        border-bottom: 4px solid rgb(148, 241, 7);
    }

    65% {
        border-top: 4px solid rgb(226, 27, 27);
        border-bottom: 4px solid rgb(226, 27, 27);
    }

    75% {
        border-top: 4px solid rgb(243, 239, 10);
        border-bottom: 4px solid rgb(243, 239, 10);
    }

    90% {
        border-top: 4px solid rgb(130, 10, 243);
        border-bottom: 4px solid rgb(130, 10, 243);
    }

    100% {
        border-top: 4px solid rgb(11, 218, 255);
        border-bottom: 4px solid rgb(11, 218, 255);
    }
}





.section_top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 650px;
    background-image: url('https://clubedovideogame.com.br/wp-content/uploads/2023/01/ss_8d1a75e11e768e956389e9df25e05b92c88087a0.1920x1080-1200x675.jpg');
    background-position: center;
    background-size: cover;
}


.section_top h6 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    animation-name: onlyh2;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}



.section_fliperama {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100vw;
}

button a {
    text-decoration: none;
    color: black;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 500px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
}

.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
}

.box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
}



.box h4 {

    font-size: 17px;
    text-transform: uppercase;
    padding-top: 30px;

}

.box .preco {
    text-align: center;
    font-size: 12px;
    padding-top: 30px;
}

.box .aluguel {
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
}

.box .section_descricao {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    width: 200px;
}


.section_button {
    margin-top: 50px;
    flex-direction: column;
}

.s_button {
    margin-bottom: 10px;
}


.button_section1 {
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(37, 255, 74);
    border: none;
    cursor: pointer;
}

.button_section2 {
    font-size: 20px;
    padding: 8px;
    width: 100px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(204, 0, 255);
    border: none;
    cursor: pointer;
}

.button_section1 a:hover {
    color: white;
}

.button_section2 a:hover {
    color: white;
}



.box2 .donkey {

    font-size: 17px;
    text-transform: uppercase;
    padding-top: 30px;

}

.box2 .preco {
    text-align: center;
    font-size: 12px;
    padding-top: 30px;
}

.box2 .aluguel {
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
}

.box2 .section_descricao {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    width: 200px;
}






.box3 h4 {

    font-size: 17px;
    text-transform: uppercase;
    padding-top: 30px;

}

.box3 .preco {
    text-align: center;
    font-size: 12px;
    padding-top: 30px;
}

.box3 .aluguel {
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
}

.box3 .section_descricao {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    width: 200px;
}







.box4 h4 {

    font-size: 17px;
    text-transform: uppercase;
    padding-top: 30px;

}

.box4 .preco {
    text-align: center;
    font-size: 12px;
    padding-top: 30px;
}

.box4 .aluguel {
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
}

.box4 .section_descricao {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    width: 200px;
}











.section_games {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-color: black;

}

.section_games h4 {
    color: white;
    margin-top: 30px;
    font-size: 30px;
    color: yellow;
    text-transform: uppercase;
}

.section_pacman {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 200px;

}

.width_text {
    width: 600px;
    font-size: 20px;
    line-height: 40px;
    color: white;
}

.section_sobre {
    display: flex;
    justify-content: center;
    align-items: center;

}



.section_pacman img {
    width: 500px;
}


.line_section {
    width: 100vw;
    animation-name: line;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}



@keyframes line {
    0% {

        border-bottom: 8px solid rgb(11, 218, 255);
    }

    25% {

        border-bottom: 8px solid rgb(253, 0, 241);
    }

    50% {

        border-bottom: 8px solid rgb(148, 241, 7);
    }

    65% {

        border-bottom: 8px solid rgb(226, 27, 27);
    }

    75% {

        border-bottom: 8px solid rgb(243, 239, 10);
    }

    90% {

        border-bottom: 8px solid rgb(130, 10, 243);
    }

    100% {

        border-bottom: 8px solid rgb(11, 218, 255);
    }
}







.section_games2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-image: url('https://www.creativefabrica.com/wp-content/uploads/2023/04/10/Arcade-Neon-Graphics-66760394-2.jpg');
    background-size: cover;
    background-position: center;

}

.section_games2 h4 {
    color: white;
    text-shadow: 2px 2px 8px black;
    margin-top: 30px;
    font-size: 30px;
    color: red;


}

.section_kong {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 100px;

}

.width_text2 {
    width: 700px;
    font-size: 20px;
    line-height: 40px;
    color: white;
    font-weight: bold;
}

.section_sobre2 {
    display: flex;
    justify-content: center;
    align-items: center;

}



.section_kong img {
    width: 600px;
    border-radius: 10px;

}








.section_games3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-color: black;

}

.section_games3 h4 {
    color: white;
    margin-top: 30px;
    font-size: 30px;
    text-shadow: 2px 2px 8px black;
    color: yellow;
    text-transform: uppercase;
}

.section_kombat {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 100px;

}

.width_text3 {
    width: 500px;
    font-size: 20px;
    line-height: 40px;
    color: white;

}

.section_sobre3 {
    display: flex;
    justify-content: center;
    align-items: center;

}



.section_kombat img {
    width: 600px;
    border-radius: 10px;
}






.section_games4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-image: url('https://www.creativefabrica.com/wp-content/uploads/2023/04/10/Arcade-Neon-Graphics-66760394-2.jpg');
    background-size: cover;
    background-position: center;

}

.section_games4 h4 {
    color: white;
    margin-top: 30px;
    font-size: 30px;
    text-shadow: 2px 2px 8px black;
    color: red;
    text-transform: uppercase;
}

.section_r_type {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 100px;

}

.width_text4 {
    width: 400px;
    font-size: 20px;
    line-height: 40px;
    color: white;
}

.section_sobre4 {
    display: flex;
    justify-content: center;
    align-items: center;

}



.section_r_type img {
    width: 600px;
    border-radius: 10px;
}








.section_games5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-color: black;

}

.king_title {
    color: white;
    margin-top: 30px;
    font-size: 30px;
    text-shadow: 2px 2px 8px black;
    color: yellow;
    text-transform: uppercase;
}

.section_king {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 100px;

}

.width_text5 {
    width: 500px;
    font-size: 20px;
    line-height: 40px;
    color: white;
}

.section_sobre5 {
    display: flex;
    justify-content: center;
    align-items: center;

}





.section_king img {
    width: 600px;
    border-radius: 10px;

}







.section_games6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-image: url('https://www.creativefabrica.com/wp-content/uploads/2023/04/10/Arcade-Neon-Graphics-66760394-2.jpg');
    background-size: cover;
    background-position: center;

}

.section_games6 h4 {
    color: white;
    margin-top: 30px;
    font-size: 30px;
    text-shadow: 2px 2px 8px black;
    color: red;
    text-transform: uppercase;
}

.section_metal {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 100px;

}

.width_text6 {
    width: 400px;
    font-size: 20px;
    line-height: 40px;
    color: white;
}

.section_sobre6 {
    display: flex;
    justify-content: center;
    align-items: center;

}



.section_metal img {
    width: 500px;
    border-radius: 10px;
}






.section_games7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-color: black;

}

.section_games7 h4 {
    color: white;
    margin-top: 30px;
    font-size: 30px;
    text-shadow: 2px 2px 8px black;
    color: yellow;
    text-transform: uppercase;
}

.section_street {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 100px;

}

.width_text7 {
    width: 600px;
    font-size: 20px;
    line-height: 40px;
    text-shadow: 2px 2px 8px black;
    color: white;
}

.section_sobre7 {
    display: flex;
    justify-content: center;
    align-items: center;

}



.section_street img {
    width: 500px;
    border-radius: 10px;
}



.black_fundo,
.black_fundo2,
.black_fundo3 {
    width: 100vw;
    height: 600px;
    background: rgba(0, 0, 0, 0.4);
}



.sobre_page {
    width: 100vw;
    height: 300px;
    background-image: url('https://wallpapers.com/images/hd/80s-retro-arcade-wcljjqqs2b094z92.jpg');
    background-position: center;
    background-size: cover;
}


.black_fundo6 {
    width: 100vw;
    height: 300px;
    background: rgba(0, 0, 0, 0.4);
}



@keyframes animatedText {
    from {
        transform: translateX(0vw);
    }

    to {
        transform: translateX(-150vw);
    }
}



.title_sobre {
    font-size: 40px;
    animation-name: onlyh2;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

.resumo_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.text_sobre {
    color: white;
    width: 600px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
}


.footer_contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: black;
    height: 100px;
}

.footer_contato p {
    color: white;
    font-size: 20px;
    margin-bottom: 3px;
}



.logo_menu {
    display: none;
    animation-name: onlyh2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.logo_menu li {
    list-style: none;
}

.logo_menu ion-icon {
    font-size: 50px;

}


.logo_menu2 {
    display: none;
    animation-name: onlyh2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.logo_menu2 li {
    list-style: none;
}

.logo_menu2 ion-icon {
    font-size: 50px;

}



@media (max-width:450px) {

    

    .logo_menu {
        display: flex;
        justify-content: center;
    }

    .logo_menu2 {
        display: none;
        justify-content: center;
    }

    .menu {
        display: none;
        justify-content: flex-start;
        align-self: flex-end;
        align-items: flex-end;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        height: 400px;
        width: 100%;
        position: fixed;
        text-align: right;

    }

    .menu li {

        border-bottom-color: 1px solid black;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-right: 10px;
    }

    .menu_nav {
        position: fixed;
    }

    .title_second {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .text_first {
        font-size: 10px;
    }

    .section_top {
        height: 2200px;
    }

    .section_fliperama {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: center;

    }

    .box {
        margin-bottom: 20px;
        border: 1px solid greenyellow;
    }

    .box2 {
        margin-bottom: 20px;
        border: 1px solid greenyellow;
    }

    .box3 {

        margin-bottom: 20px;
        border: 1px solid greenyellow;
    }

    .box4 {
        border: 1px solid greenyellow;
    }

    .section_pacman {
        display: flex;
        flex-direction: column;
    }

    .section_img img {
        width: 300px;
        height: 300px;
        margin-bottom: -140px;
    }

    .section_games {
        height: 1000px;
    }

    .width_text {
        width: 320px;
    }


    .section_kong {
        display: flex;
        flex-direction: column;
    }

    .section_img2 img {
        width: 300px;
    }

    .section_sobre2 {
        margin-top: -80px;
    }

    .section_games2 {
        height: 1200px;
    }

    .black_fundo {
        height: 1200px;

    }

    .black_fundo2 {
        height: 998px;
    }

    .width_text2 {
        width: 900px;
    }



    .section_kombat {
        display: flex;
        flex-direction: column;
    }

    .section_img3 img {
        width: 300px;
        height: 200px;
    }

    .section_games3 {
        height: 1200px;
    }

    .width_text3 {
        margin-top: -50px;
        width: 300px;
    }

    .section_r_type {
        display: flex;
        flex-direction: column;
    }

    .section_games4 {
        height: 1000px;
    }

    .section_img4 img {
        width: 300px;
        height: 200px;

    }

    .width_text4 {
        width: 300px;
    }


    .section_games5 {
        height: 1000px;
    }

    .king_title {
        font-size: 20px
    }

    .width_text5 {
        width: 300px;
    }

    .section_king {
        display: flex;
        flex-direction: column;
    }

    .section_img5 img {
        width: 300px;
        height: 200px;
    }



    .width_text6 {
        width: 400px;
    }

    .section_metal {
        display: flex;
        flex-direction: column;
    }

    .section_games6 {
        height: 1000px;
    }

    .black_fundo3 {
        height: 1000px;
    }

    .section_img6 img {
        width: 300px;
        height: 200px;
    }




    .section_games7 {
        height: 1400px;
    }

    .section_img7 img {
        width: 300px;
        height: 200px;
    }

    .section_street {
        display: flex;
        flex-direction: column;

    }

    .width_text7 {
        width: 300px;
    }

    .text_sobre {
        width: 320px;
    }

    .sobre_page {
        display: flex;
        text-align: center;
        height: 500px;
    }

    .black_fundo6 {

        height: 500px;
    }

    .banner_logo {
        font-size: 25px;
        text-align: right;
    }

    .banner_ul {
        display: none;
    }
    .banner_logo_menu{
        display: flex;
        justify-content: space-between;
    }
    .banner_logo{
        padding-left: 20px;
    }

}


@media (min-width:430px) and (max-width:768px) {
     
    

    .banner_logo_menu{
        display: flex;
        justify-content: space-between;
    }
    .banner_logo{
        padding-left: 20px;
    }
    .logo_menu {
        display: flex;
        justify-content: center;
    }

    .logo_menu2 {
        display: none;
        justify-content: center;
    }

    .menu {
        display: none;
        justify-content: flex-start;
        align-self: flex-end;
        align-items: flex-end;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        height: 400px;
        text-align: right;

    }

    .menu li {
        font-size:20px;
        border-bottom-color: 1px solid black;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-right: 10px;
    }

    .menu_nav {
        position: fixed;
    }

    .title_second {
        font-size: 43px;
        margin-bottom: 10px;
    }

    .text_first {
        font-size: 18px;

    }

    .section_top {
        height: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section_fliperama {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left: 10%;
        

    }
    

    .box {
        margin-bottom: 20px;
        border: 1px solid greenyellow;
    }

    .box2 {
        margin-bottom: 20px;
        border: 1px solid greenyellow;
    }

    .box3 {

        margin-bottom: 20px;
        border: 1px solid greenyellow;
    }

    .box4 {
        border: 1px solid greenyellow;
    }

    .section_pacman {
        display: flex;
        flex-direction: column;
    }

    .section_img img {
        width: 400px;
        height: 300px;
        margin-bottom: -140px;
    }

    .section_games {
        height: 800px;
    }

    .width_text {
        
        width: 420px;
    }


    .section_kong {
        display: flex;
        flex-direction: column;
    }

    .section_img2 img {
        width: 600px;
    }

    .section_sobre2 {
        margin-top: -40px;
    }

    .section_games2 {
        height: 1000px;
    }

    .black_fundo {
        height: 1000px;

    }

    .width_text2 {
        width: 700px;
    }






    .section_kombat {
        display: flex;
        flex-direction: column;
    }

    .section_img3 img {
        width: 600px;
        height: 400px;
    }

    .section_games3 {
        height: 1000px;
    }

    .width_text3 {
        margin-top: -50px;
        width: 500px;
    }






    .section_r_type {
        display: flex;
        flex-direction: column;
    }
    .black_fundo2 {
        height: 1000px;
    }
    .section_games4 {
        height: 1000px;
    }

    .section_img4 img {
        width: 650px;
        height: 400px;

    }

    .width_text4 {
        width: 500px;
    }




    .section_games5 {
        height: 1000px;
    }

    .king_title {
        font-size: 30px
    }

    .width_text5 {
        width: 500px;
    }


    .section_king {
        display: flex;
        flex-direction: column;
    }

    .section_img5 img {
        width: 600px;
        height: 400px;
    }




    .width_text6 {
        width: 400px;
    }

    .section_metal {
        display: flex;
        flex-direction: column;
    }

    .section_games6 {
        height: 1000px;
    }

    .black_fundo3 {
        height: 1000px;
    }

    .section_img6 img {
        width: 600px;
        height: 400px;
    }




    .section_games7 {
        height: 1100px;
    }

    .section_img7 img {
        width: 600px;
        height: 400px;
    }

    .section_street {
        display: flex;
        flex-direction: column;

    }

    .width_text7 {
        width: 600px;
    }

    .text_sobre {
        width: 620px;
    }

    .sobre_page {
        display: flex;
        text-align: center;
        height: 300px;
    }

    .black_fundo6 {

        height: 300px;
    }

    .banner_logo {
        font-size: 25px;
        text-align: right;
    }

    .banner_ul {
        display: none;
    }
}



@media (min-width: 769px) and (max-width:1024px) {
    .section_top {
        height: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section_fliperama {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left: 20%;
        

    }
    

    .box {
        margin-bottom: 20px;
        border: 1px solid greenyellow;
    }

    .box2 {
        margin-bottom: 20px;
        border: 1px solid greenyellow;
    }

    .box3 {

        margin-bottom: 20px;
        border: 1px solid greenyellow;
    }

    .box4 {
        border: 1px solid greenyellow;
    }

    .section_pacman {
        display: flex;
        flex-direction: column;
    }

    .section_img img {
        width: 400px;
        height: 300px;
        margin-bottom: -140px;
    }

    .section_games {
        height: 800px;
    }

    .width_text {
        
        width: 420px;
    }


    .section_kong {
        display: flex;
        flex-direction: column;
    }

    .section_img2 img {
        width: 600px;
    }

    .section_sobre2 {
        margin-top: -40px;
    }

    .section_games2 {
        height: 1000px;
    }

    .black_fundo {
        height: 1000px;

    }

    .width_text2 {
        width: 700px;
    }






    .section_kombat {
        display: flex;
        flex-direction: column;
    }

    .section_img3 img {
        width: 600px;
        height: 400px;
    }

    .section_games3 {
        height: 1000px;
    }

    .width_text3 {
        margin-top: -50px;
        width: 500px;
    }






    .section_r_type {
        display: flex;
        flex-direction: column;
    }
    .black_fundo2 {
        height: 1000px;
    }
    .section_games4 {
        height: 1000px;
    }

    .section_img4 img {
        width: 650px;
        height: 400px;

    }

    .width_text4 {
        width: 500px;
    }




    .section_games5 {
        height: 1000px;
    }

    .king_title {
        font-size: 30px
    }

    .width_text5 {
        width: 500px;
    }


    .section_king {
        display: flex;
        flex-direction: column;
    }

    .section_img5 img {
        width: 600px;
        height: 400px;
    }




    .width_text6 {
        width: 400px;
    }

    .section_metal {
        display: flex;
        flex-direction: column;
    }

    .section_games6 {
        height: 1000px;
    }

    .black_fundo3 {
        height: 1000px;
    }

    .section_img6 img {
        width: 600px;
        height: 400px;
    }




    .section_games7 {
        height: 1100px;
    }

    .section_img7 img {
        width: 600px;
        height: 400px;
    }

    .section_street {
        display: flex;
        flex-direction: column;

    }

    .width_text7 {
        width: 600px;
    }

    .text_sobre {
        width: 620px;
    }

    .sobre_page {
        display: flex;
        text-align: center;
        height: 300px;
    }
}
